@media (max-width: 992px) { 
    body{
        background-color: hsl(0, 0%, 100%);;
    }
    main {
        width: 100vw;
        height: 100vh;
        font-size: 18px;
        display: flex;
        flex-direction: column;
    }
    
    .resultado {
        height: 50vh;
        width: 100vw;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    resultado h3 {
        margin: 10px;
    }
    
    .resultado .icone-resultado {
        margin: 10px;
    }
    
    .resultado h2 {
        margin: 10px;
    }
    
    .resultado p {
        margin: 10px;   
    }

    .sumario{
        
        height: 50vh;
        width: 100vw;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .sumario h3{
        margin: 10px;
    }
    
    .sumario .tabela{
        margin: 10px;
         
    }
    
    .sumario .tabela li{
        margin: 5px;
    }
 }

 @media (max-width: 1300px) { 
    
  
    .nota{
        display: inline-block;
        margin-left: 5%;
        color: hsl(224, 30%, 27%) ;
        font-weight: 800;
        
    }

    .sumario .tabela{
        margin: 10px;    
    }
    


  }

  


  