html {
    font-family: 'Hanken Grotesk';
}

body {
    background-color: hsl(221, 100%, 96%);

}

main {
    background-color: hsl(0, 0%, 100%);
    width: 100vw;
    height: 100vh;
    font-size: 18px;
    border-radius: 30px;
}

.resultado {
    background: linear-gradient(to right, hsl(241, 81%, 54%), hsl(252, 100%, 67%));
    height: 50%;
    max-width: 790px;
    text-align: center;
    padding: 35px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.resultado h3 {
    color: hsl(241, 100%, 89%);
}

.resultado .icone-resultado {
    background: linear-gradient(to left, hsla(241, 72%, 46%, 0), hsla(256, 72%, 46%, 1));
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: auto;
    display: block;
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    color: hsl(0, 0%, 100%);
}

.icone-resultado:hover{
    background: linear-gradient(to right, #9efab5, #7be79d);;
}

.resultado .icone-resultado p {
    padding: 25%;
}

.icone-resultado p:hover{
    color: #000000;
}

.resultado .icone-resultado span {
    display: block;
    font-size: 16px;
    color: hsl(241, 100%, 89%);
}

.resultado h2 {
    margin-top: 20px;
    color: hsl(0, 0%, 100%);
}

.resultado p {
    margin-top: 20px;
    color: hsl(241, 100%, 89%)
}

.sumario{
    background-color:hsl(0, 0%, 100%);
    height: 50%;
    max-width: 790px;
    text-align: center;
    border-radius: 30px;
}

.sumario h3{
    color: hsl(224, 30%, 27%) ;
    margin: 25px; 
}

.sumario ul{
    margin: 30px 40px 5px 40px;
    height: 60%;
    text-align: left;

}


#linha-1{
    margin: 15px;
    background-color: hsl(0, 53%, 88%);;
    padding: 10px;
    color:  hsl(0, 100%, 67%);
    border-radius: 10px;
}


#linha-2{
    margin: 15px;
    background-color:hsl(39, 69%, 91%);
    padding: 10px;
    color:  hsl(39, 100%, 56%);
    border-radius: 10px;
}

#linha-3{
    margin: 15px;
    background-color: hsl(165, 96%, 90%);
    padding: 10px;
    color: hsl(166, 100%, 37%);
    border-radius: 10px;
}

#linha-4{
    margin: 15px;
    background-color:  hsl(234, 68%, 83%);
    padding: 10px;
    color: hsl(234, 85%, 45%);
    border-radius: 10px;
    
}

 .nota{
    display: inline-block;
    float: right;
    color: hsl(224, 30%, 27%) ;
    font-weight: 800;
}

.nota-100{
    color: #fff; ;
}

button{
    padding: 15px;
    width: 60%;
    border-radius: 40px;
    background-color:hsl(224, 30%, 27%)  ;
    color:hsl(0, 0%, 100%); 
    font-size: 20px;
    border: 1px solid ;
}

button:hover{
    background: linear-gradient(to right, hsl(234, 85%, 45%), hsla(256, 72%, 46%, 1));
}
